@import url(https://fonts.googleapis.com/css?family=Chewy);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:700italic);

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 20px;
	color: #38403A;
	padding: 40px;
}

h1 {
	color: #1221FF;
	font-family: 'Chewy', cursive;
}

#slogan {
	font-family: 'Noto Sans', sans-serif;
	font-style: italic;
}

ul, li {
	margin: 20px;
}

main {
	font-family: 'Noto Sans', sans-serif;
	padding-left: 20px;
	margin-left: 20px;
}

img {
	width: 100%;
}

h2 {
	font-family: 'Chewy', cursive;
	padding-top: 20px;
	padding-bottom: 20px;
}